*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

bindings/python/pybindgen/

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

LTE*
/D*.txt
/U*.txt
/U*.xml
*_RUN*
*_run*
enBs
UEs_UDP*

UABSs

UEsLowSinr

*.out
*.png
/*.txt
