*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

bindings/python/pybindgen/

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

LTE*
enBs
UE*

UABSs

sem/
results/
*.out
*.png
/*.xml
/*.txt

Qty_UE_SINR
Quantity_UABS

APD.plt
Jitter.plt
PDR.plt
PLR.plt
Throughput.plt
